<div class="container">
  <div class="menu">
  {{#link-to 'index'}}
    <h1><em>Test Manager</em></h1>
  {{/link-to}}
  <div class="links">
    {{#link-to 'features'}}
      Features
    {{/link-to}} |
    {{#link-to 'tests'}}
      Tests
    {{/link-to}}
  </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
