<!-- <div class="jumbo">
  <div class="right tomster"></div> -->
  <h2>Features List</h2>
  <ul>
    {{#each model as |feature|}}
    <li>{{feature}}</li>
    {{/each}}
  </ul>
<!-- </div> -->

{{outlet}}
