<h2>Welcome to Test Manager</h2>

<p>This application is aimed to managed a collection of features
with its corresponding tests and statuses. Feel free to collaborate
in our project and add features and tests.</p>

{{outlet}}
