<h2>Welcome to Test Manager</h2>

<p>This application will manage a list of features
with its corresponding tests. Feel free to collaborate
in our project and add features and tests.</p>

{{#link-to 'features' class="button"}}
    See All Features
{{/link-to}}
<br />
<br />

{{#link-to 'tests' class="button"}}
    See All Tests
{{/link-to}}

{{outlet}}
